<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – MVC Music Store (Preview)</title>
    <script>
        function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        // Save preview arguments
        if (getQueryParam('preview') === '1') {
            document.cookie = "preview=1; path=/";
        } else if (getQueryParam('preview') === '0') {
            document.cookie = "preview=0; path=/";
        }
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/preview")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("ASP.NET MVC Music Store (Preview)", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>
                    @Html.Action("GenreMenu", "Store")
                    @Html.Action("CartSummary", "ShoppingCart")
                </ul>
                <form class="d-flex" action="@Url.Action("Search", "Store")" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <footer class="navbar fixed-bottom navbar-light bg-light text-center">
            <p><a href="http://mvcmusicstore.codeplex.com">mvcmusicstore.codeplex.com</a></p>
            <small>@Html.ActionLink("admin", "Index", "StoreManager")</small>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
</body>
</html>
