@model MvcMusicStore.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search Albums";
}
<div class="genre">
    <h3>
        Search Results
    </h3>
    <p>You searched for "@Model.Query" and AI thinks you wanted "@Model.AiQuery"</p>

    @if (Model.Results == null || !Model.Results.Any())
    {
        <p class="not-found">Sorry, we don't have that record in our store.</p>
    }
    else
    {
    <ul id="album-list" class="list-unstyled row">
        @foreach (var album in Model.Results)
        {
            <li class="col-lg-2 col-md-3 col-sm-4 col-6">
                <a href="@Url.Action("Details", new { id = album.AlbumId })">
                    @if (!string.IsNullOrEmpty(album.AlbumArtUrl))
                    {
                        <img alt="@album.Title" class="img-thumbnail" src="@Url.Content(@album.AlbumArtUrl)" />
                    }
                    <h5 class="control-label">@album.Title</h5>
                </a>
            </li>
        }
    </ul>
    }
</div>